.loading{
  height:100vh;
  display:flex;
  align-items: center;
  justify-content: center;
}
.stories{
  list-style-type: none;
}
.story-item{
  padding:20px;
  margin-bottom:20px;
  max-width:500px;
  border:1px solid lightblue;

}
.title{
  margin-bottom:10px;
}
.props{
  display:flex;
  justify-content: space-between;
}